@tailwind base;
@tailwind components;
@tailwind utilities;

/* STYLE BUTTON */
.custom-button {
    background-image: -webkit-linear-gradient(
        169deg,
        #5560ff 17%,
        #aa52a1 63%,
        #ff4343 100%
    );
    padding: 11px 24px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 25px;
    border: none;
    display: inline-block;
}

.custom-button:hover {
    -webkit-box-shadow: 0px 10px 15px 0px rgba(59, 55, 188, 0.5);
    box-shadow: 0px 10px 15px 0px rgba(59, 55, 188, 0.5);
}

.glasses-header {
    background: url("/header-light.png");
    background-size: contain;
    text-align: center;
    color: rgb(22, 21, 21);
    font-size: 3rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-weight: 700;
    padding: 2rem 0;
}

.model .character {
    width: 20vw;
    height: 60vh;
    object-fit: contain;
}
.chonKinh {
    position: relative;
}

.model .glasses {
    left: 69px;
    width: 170px;
    top: 114px;
    position: absolute;
}

.listKinh {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 400px;
}
